body {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
}

li {
    color: #e5e7eb;
}

#hero {
    background-color: #1f2937;
    display: flex;
}

#main-hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

#info {
    display: flex;
    flex-direction: column;
}

#info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container {
    display: flex;
}

.card {
    width: 150px;
}