body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0px;
}

div {
    padding: 0px 100px;
}

#header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 16px 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero {
    background-color: #1f2937;
    display: flex;
    padding-bottom: 48px;
    justify-content: space-between;
}

#main-hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0px;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#hero-img {
    color: #e5e7eb;
    margin-top: 100px;
}

#info {
    display: flex;
    flex-direction: column;
}

#info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    width: 150px;
    padding: 0px;
}

.card-img {
    border-style: solid;
    border-radius: 7px;
    border-color: #3882f6;
    min-width: 145px;
    min-height: 145px;
    padding: 0px;
}

#quote {
    background-color: #e5e7eb;
    padding: 100px 350px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 0px;
}

#citing {
    font-weight: bold;
    text-align: end;
    padding-right: 50px;
}

#call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
}

#footer {
    background-color: #1f2937;
    color: #f9faf8;
}

#hero .left {
    min-width: 400px;
    max-width: 400px;
}

#hero .right {
    min-width: 400px;
    height: 200px;
    background-color: gray;
    margin-top: 48px;
    margin-right: 100px;
    padding: 0px;
    text-align: center;
}

#info-header-text {
    text-align: center;
}