body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0px;
}

div {
    padding: 0px 100px;
}

#header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 16px 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero {
    background-color: #1f2937;
    display: flex;
}

#main-hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0px;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

#info {
    display: flex;
    flex-direction: column;
}

#info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container {
    display: flex;
}

.card {
    width: 150px;
}

#quote {
    background-color: #e5e7eb;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#citing {
    font-weight: bold;
}

#call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
}

#footer {
    background-color: #1f2937;
    color: #f9faf8;
}

#hero .left {
    max-width: 400px;
}